<h1>User Profile</h1>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @user.name %>
    <%= @user.surname %>
  </h1>
  <p class="lead">
    <%= @user.email %>
    <br/>
    <%= @user.role %>
  </p>
</div>

<%= render 'form', user: @user %>

<%= link_to 'Back', employees_path %>
