<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @device.model %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @device.manufacturer %>
</p>

<p>
  <strong>Type:</strong>
  <%= @device.device_type %>
</p>

<p>
  <strong>Room:</strong>
  <% if @device.room.present? %>
    <%= @device.room.name %>
  <% else %>
    None
  <% end %>
</p>
<p>
  <strong>QR code:</strong>
<%= image_tag(@device.qr_code) %>
</p>



<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
