<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button type="button" class="btn btn-dark position-relative">
    <%= link_to 'Hospital.ity',root_path, class:"navbar-brand ps-3 mb-0 h1" %>
  </button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.role_admin? %>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Employees', employees_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Hospital structure', buildings_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Devices', devices_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Posts', posts_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Inspections', inspections_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Incident reports', incident_reports_path, class:"nav-link text-light" %>
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark position-relative">
              <%= link_to 'Cleaning reports', cleaning_reports_path, class:"nav-link text-light" %>
            </button>
          </li>
          <% else if current_user.role_office?  %>
            <li class="nav-item">
              <button type="button" class="btn btn-dark position-relative">
                <%= link_to 'Posts', posts_path, class:"nav-link text-light" %>
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-dark position-relative">
                <%= link_to 'Incident reports', incident_reports_path, class:"nav-link text-light" %>
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-dark position-relative">
                <%= link_to 'Cleaning reports', cleaning_reports_path, class:"nav-link text-light" %>
              </button>
            </li>
          <% else if current_user.role_guard? %>
              <li class="nav-item">
                <button type="button" class="btn btn-dark position-relative">
                  <%= link_to 'Incident reports', incident_reports_path, class:"nav-link text-light" %>
                </button>
              </li>
            <% else if current_user.role_janitor? %>
                <li class="nav-item">
                  <button type="button" class="btn btn-dark position-relative">
                    <%= link_to 'Cleaning reports', cleaning_reports_path, class:"nav-link text-light" %>
                  </button>
                </li>
          <% else if current_user.role_inspector? || current_user.role_technic?  %>
            <li class="nav-item">
              <button type="button" class="btn btn-dark position-relative">
                <% pending_inspections = current_user.inspections.where(completed: false).count %>
                <% if pending_inspections > 0 %>
                    <%= link_to 'Inspections ', inspections_path, class:"nav-link text-light" %><span class="position-absolute top-50 start-100 translate-middle badge badge-pill bg-danger rounded-pill"><%= pending_inspections.to_s %></span>
                <% else %>
                  <%= link_to 'Inspections', inspections_path, class:"nav-link text-light" %>
                <% end %>
              </button>
            </li>
          <% end %>
          <% end %>
          <% end %>
        <% end %>
        <% end %>
      <% else %>
        <li class="nav-item">
          <button type="button" class="btn btn-dark position-relative">
            <%= link_to 'Log In', new_user_session_path, class:"nav-link text-light" %>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-dark position-relative">
            <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link text-light" %>
          </button>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
      <li class="nav-item navbar-nav dropdown">
        <button type="button" class="btn btn-dark position-relative">

        <a class="pe-3 nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" >
          <li class="dropdown-item">
            <%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown-item" %>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li class="dropdown-item">
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </li>
        </ul>
        </button>
      </li>
      <% end %>
    </ul>
  </div>
</nav>