<p>
  <strong>Name:</strong>
  <%= @floor.name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @floor.building_id %>
</p>

  <%= link_to 'Destroy', building_floor_path(@building, @floor), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_building_floor_path(@building, @floor) %> |
<%= link_to 'Back', building_floors_path %>
