<%= form_with(model: cleaning_request) do |form| %>
  <% if cleaning_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cleaning_request.errors.count, "error") %> prohibited this cleaning_request from being saved:</h2>

      <ul>
        <% cleaning_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, value: "Cleaning request", class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= form.label :rooms , "Select rooms to be cleaned"%>
    <div class="accordion" id="accordionRooms">
      <% Ward.all.each do |ward| %>
        <div class="accordion-item">
          <h2 id="heading-ward<%= ward.id %>" class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ward<%= ward.id %>" aria-expanded="false" aria-controls="collapse-ward<%= ward.id %>">
              <strong><%= ward.name %> ward / <%= ward.floor.name %> floor / <%= ward.floor.building.name %> building</strong><br/>
            </button>
          </h2>
          <div id="collapse-ward<%= ward.id %>" class="accordion-collapse collapse" aria-labelledby="heading-ward<%= ward.id %>" data-bs-parent="#accordionWards">
            <div class="accordion-body">
              <div class="accordion" id="accordionRooms-ward<%= ward.id %>">
                <% ward.rooms.each do |room| %>
                  <label class="li"><%= check_box_tag :room_ids, room.id, false, :name => 'cleaning_request[room_ids][]' %> <strong>Room <%= room.name %> | <%= room.room_type %></strong></label><br />
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div><br/>

  <div class="field">
    <% grouped_options_for_select = [['Janitors', User.all.where(role: "janitor").collect {|u| [ u.name + " " + u.surname, u.id ] }]] %>
    <%= form.label :user_id, "Employee delegated:" %>
    <%= form.select :user_id, grouped_options_for_select(grouped_options_for_select), {}, {class: "form-control form-select mb-3"} %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class: "btn btn-outline-secondary text-dark" %>
  </div>
<% end %>
