<div class="card">
  <h3 class="card-header">Cleaning requests</h3>
  <div class="card-body">
    <%= search_form_for @q, url: cleaning_requests_path do |f| %>
      <%= f.search_field :title_cont, placeholder: "Search phrase..." %>
      <%= f.select :completed_eq, options_for_select([
                                                       ['Any state...', ''],
                                                       ['Completed', true],
                                                       ['Not completed', false]
                                                     ])%>
      <%= f.submit name: '', class: "btn btn-outline-secondary btn-sm mb-1 text-dark" %>
    <% end %>
    <br/>
    <% if current_user.role_nurse? || current_user.role_doctor? || current_user.role_office? || current_user.role_admin? %>
      <button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to 'New request', new_cleaning_request_path, :class => "btn" %></button>
      <br/>
      <br/>
    <% end %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr class="table-dark">
        <th><%= sort_link(@q, :title, "Title",{}, { class: "link-light" }) %></th>
        <% unless current_user.role_janitor?%>
          <th><%= sort_link(@q, :user_id, "Assigned employee",{}, { class: "link-light" }) %></th>
        <% end %>
        <th>Requested on</th>
      </tr>
      </thead>
      <tbody>
        <% @cleaning_requests.each do |cleaning_request| %>
          <tr>
            <% if current_user.role_janitor? %>
              <% if cleaning_request.completed? %>
                <td><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to cleaning_request.title, clean_cleaning_request_path(cleaning_request), :class => "btn disabled" %></button></td>
              <% else %>
                <td><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to cleaning_request.title, clean_cleaning_request_path(cleaning_request), :class => "btn" %></button></td>
              <% end %>
            <% else %>
              <td><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to cleaning_request.title, cleaning_request, :class => "btn" %></button></td>
              <td><%= cleaning_request.user.name + ' ' + cleaning_request.user.surname %></td>
            <% end %>

            <td><%= cleaning_request.created_at.to_s(:db) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
