<div class="card">
  <h3 class="card-header">Ward details</h3>
  <div class="card-body">
    <p>
      <strong>Ward name:</strong>
      <%= @ward.name %>
    </p>
    <p>
      <strong>Rooms count:</strong>
      <%= @ward.rooms.count %>
    </p>
    <p>
      <strong>Ward location:</strong>
      Building <%= @ward.floor.building.name %> / <%= @ward.floor.name %> floor
    </p>

    <%= link_to 'Back', building_floor_wards_path, class: "btn btn-outline-secondary text-dark" %> |
    <%= link_to 'Edit', edit_building_floor_ward_path(@building, @floor, @ward), class: "btn btn-outline-secondary text-dark" %>
  </div>
</div>