<div class="card">
  <h3 class="card-header">Cleaning report details</h3>
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= @cleaning_report.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @cleaning_report.description %>
    </p>

    <p>
      <strong>Reported by:</strong>
      <%= @cleaning_report.user.name %> <%= @cleaning_report.user.surname %>
    </p>

    <p>
      <strong>Reported on:</strong>
      <%= @cleaning_report.created_at.to_s(:db) %>
    </p>

    <p>
      <strong>Cleaned rooms:</strong>
      <ol>
        <% rooms = Room.all.where(id: @cleaning_report.room_ids) %>
        <% rooms.each do |room| %>
          <li>
            <strong>Room <%= room.name %> </strong> / <%= room.ward.name %> ward / <%= room.ward.floor.name %> floor / <%= room .ward.floor.building.name %> building
          </li>
        <% end %>
      </ol>
    </p>
    <%= link_to 'Back', cleaning_reports_path, class: "btn btn-outline-secondary text-dark" %>
    <% if current_user.id == @cleaning_report.user.id %>
      | <%= link_to 'Edit', edit_cleaning_report_path(@cleaning_report), class: "btn btn-outline-secondary text-dark" %>
    <% end %>
  </div>
</div>