<%= form_with(model: inspection) do |form| %>
  <% if inspection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inspection.errors.count, "error") %> prohibited this inspection from being saved:</h2>

      <ul>
        <% inspection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div><br/>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div><br/>

  <div class="field">
    <%= form.label :devices , "Select devices for inspection"%>
    <div class="accordion" id="accordionWards">
      <% Ward.all.each do |ward| %>
        <div class="accordion-item">
          <h2 id="heading-ward<%= ward.id %>" class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ward<%= ward.id %>" aria-expanded="false" aria-controls="collapse-ward<%= ward.id %>">
              <strong><%= ward.name %> ward</strong><br/>
            </button>
          </h2>
          <div id="collapse-ward<%= ward.id %>" class="accordion-collapse collapse" aria-labelledby="heading-ward<%= ward.id %>" data-bs-parent="#accordionWards">
            <div class="accordion-body">
              <div class="accordion" id="accordionRooms-ward<%= ward.id %>">
                <% ward.rooms.each do |room| %>
                  <% if room.devices.count > 0 %>
                  <div class="accordion-item">
                    <h2 id="heading-room<%= room.id %>" class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-room<%= room.id %>" aria-expanded="false" aria-controls="collapse-room<%= room.id %>">
                        <strong>Room <%= room.name %></strong><br/>
                      </button>
                    </h2>
                    <div id="collapse-room<%= room.id %>" class="accordion-collapse collapse" aria-labelledby="heading-room<%= room.id %>" data-bs-parent="#accordionRooms-ward<%= ward.id %>">
                      <div class="accordion-body">
                        <span class="ul">
                          <% room.devices.each do |device| %>
                            <label class="li"><%= check_box_tag :device_ids, device.id, false, :name => 'inspection[device_ids][]' %> <u><%= device.name %> <%= device.model %> <%= device.device_type %> <%= device.status %></u></label><br />
                          <% end %>
                        </span>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="accordion-item">
        <h2 id="heading" class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
            <strong>Hospital storage</strong><br/>
          </button>
        </h2>
        <div id="collapse" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordionWards">
          <div class="accordion-body">
            <span class="ul">
              <% Device.all.where(room_id: nil).each do |device| %>
                <label class="li"><%= check_box_tag :device_ids, device.id, false, :name => 'inspection[device_ids][]' %> <u><%= device.name %> <%= device.model %> <%= device.device_type %> <%= device.status %></u></label><br />
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div><br/>

  <div class="field">
    <% grouped_options_for_select = [['Inspectors', User.all.where(role: "inspector").collect {|u| [ u.name + " " + u.surname, u.id ] }]] %>
    <% grouped_options_for_select << ['Technicians', User.all.where(role: "technic").collect {|u| [ u.name + " " + u.surname, u.id ] }] %>
    <%= form.label :user_id, "Employee delegated:" %>
    <%= form.select :user_id, grouped_options_for_select(grouped_options_for_select), {}, {class: "form-group form-select form-select-lg mb-3"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
