<h1>Inspections</h1>
<%= search_form_for @q, url: inspections_path do |f| %>

  <%= f.search_field :title_or_description_cont, placeholder: "Search phrase..." %>

  <%= f.submit name: '' %>
<% end %>
<br/>
<button type="button" class="btn btn-secondary btn-sm"><%= link_to 'New inspection', new_inspection_path, :class => "btn" %></button>
<br/>
<br/>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr class="table-dark">
      <th><%= sort_link(@q, :title, "Title",{}, { class: "link-light" }) %></th>
      <th><%= sort_link(@q, :created_at, "Comissioned on",{}, { class: "link-light" }) %></th>
      <th><%= sort_link(@q, :user_id, "Assigned employee",{}, { class: "link-light" }) %></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to inspection.title, inspection, :class => "btn" %></button></td>
        <td><%= inspection.created_at.to_s(:db) %></td>
        <td><%= inspection.user.name + ' ' + inspection.user.surname %></td>
      </tr>
    <% end %>
  </tbody>
</table>
